

.home-background-overlay,
.section-inverse:before {
    background: #D73D35 no-repeat center center fixed;
    background-color: rgba(215, 61, 53, 0.9);
}

.section-home,
.section-inverse {
    background-color: #D73D35;
} 

.icon-hex-inverse .icon,
.icon-inverse .icon-inner,
.icon-inverse .icon,
.icon-double .icon,
.drop-nav .navbar-nav.navbar-right > .active a,
.header-section .navbar-nav.navbar-right >li a:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default.focus, 
.btn-default:active,
.btn-default.active,
.section-home .btn-download:hover,
.section-home .btn-download:focus,
.section-home .btn-download.focus, 
.section-home .btn-download:active,
.section-home .btn-download.active,
.header-section .navbar-nav.navbar-right >li a:hover,
.features-list-item .icon,
.features-list-item .icon-hex-in,
.features-list-item .icon-hex-in:after,
.features-list-item .icon-hex-in:before,
.panel-title .expand-icon-wrap,
.panel-body-icon i,
.owl-buttons div:hover,
.workway-section .icon-download:hover .downloadicon-text,
.counter-box .icon-wrapper .icon,
.price-number,
.getapp-section .btn-download {
    color: #EC6863;
}

.icon-inner,
.navbar-after-scroll .icon-bar,
.navbar-after-scroll .navbar-nav.navbar-right .active a,
.features-list-item:hover .icon-inner,
.features-list-item:hover .icon-inner, 
.features-list-item:hover .icon-hex-in, 
.features-list-item:hover .icon-hex-in:after,
.features-list-item:hover .icon-hex-in:before,
.discount-section .btn:hover,
.drop-accordion .tab-collapsed,
.counter-box:hover .icon-hex-in,
.hex-bg, .hex-bg:after, .hex-bg:before,
.counter-box:hover .icon-hex-in:after, 
.counter-box:hover .icon-hex-in:before,
.hex-bg, .hex-bg:after, .hex-bg:before,
.counter-box:hover .icon-inner,
.golden-plan.active .price-wrapper .icon-inner,
.pricing-package:hover .price-wrapper .icon-inner,
.pricing-package:hover .icon-hex-in,
.pricing-package:hover .icon-hex-in:after,
.pricing-package:hover .icon-hex-in:before,
.golden-plan.active .icon-hex-in, 
.golden-plan.active .icon-hex-in:after, 
.golden-plan.active .icon-hex-in:before,
.getapp-section .btn-download:hover,
.social-media-links li:hover .icon-inner,
.social-media-links li:hover .icon-hex-in, 
.social-media-links li:hover .icon-hex-in:after, 
.social-media-links li:hover .icon-hex-in:before {
    background-color: #EC6863;
}

.pretty-line,
.overview-details:hover .pretty-line {
    background-color: #EC6863;
    color: #EC6863;
}

.icon-hex-inverse .icon-hex,
.icon-hex-inverse .icon-hex:before, 
.icon-hex-inverse .icon-hex:after {
    background: #BB838B;
    border-color: #BB838B;
}

.overview-details:hover .icon-outer,
.navbar-after-scroll .navbar-toggle,
.navbar-after-scroll .navbar-toggle,
.timeline-list-item:hover .icon-outer,
.workway-section .icon-download:hover .icon-outer,
.getapp-section .btn-download {
    border-color: #EC6863;
}

.navbar-after-scroll .icon-bar {
    background-color: #EC6863!important;
}
.tab-collapsed .expand-icon-wrap,
.navbar-after-scroll .navbar-nav .active a {
    color: #fff!important;
}

.overview-details:hover .icon-hex:before,
.overview-details:hover .icon-hex,
.overview-details:hover .icon-hex:after,
.icon-download:hover .icon-hex, 
.icon-download:hover .icon-hex:before, 
.icon-download:hover .icon-hex:after,
.timeline-list-item:hover .icon-hex, 
.timeline-list-item:hover .icon-hex:before, 
.timeline-list-item:hover .icon-hex:after,
.pricing-package:hover .icon-hex-in,
.pricing-package:hover .icon-hex-in:after,
.pricing-package:hover .icon-hex-in:before,
.golden-plan.active .icon-hex-in, 
.golden-plan.active .icon-hex-in:after, 
.golden-plan.active .icon-hex-in:before {
    border-left-color: #EC6863;
    border-right-color: #EC6863;
}
.discount-section .btn:hover {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.20);
}